<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular JS</title>
    <!-- Script untuk memanggil Angular JS secara online -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
	<h2>Belajar Tipe Data Angular JS</h2>
	<div ng-app="" ng-init="warna=['merah','kuning','hijau','biru']">
		<p>Warna ke 1 : {{warna[1]}}</p>
	</div>
</body>
</html>