<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular JS</title>
    <!-- Script untuk memanggil Angular JS secara online -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
	<h2>Belajar Tipe Data Angular JS</h2>
	<div ng-app="" ng-init="hasil={mata_pelajaran:'Matematika', nilai:80, index:'A'}">
		<p>Mata Pelajaran : {{hasil.mata_pelajaran}}</p>
	    <p>Nilai : {{hasil.nilai}}</p>
		<p>Index : {{hasil.index}}</p>
	</div>
</body>
</html>