<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular JS</title>
    <!-- Script untuk memanggil Angular JS secara online -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
	<h2>Belajar Tipe Data Angular JS</h2>
	<div ng-app="" ng-init="nama='Yulio Ferdinand';alamat='Cileunyi Bandung'">
		<p>Nama : {{ nama }}</p>
		<p>Alamat : {{ alamat }} </p>
	</div>
</body>
</html>